extends layout

block content
	h1 Daily Trip Enhancer
	br
	br
	h4 Ho stimato che il viaggio con il mezzo da te specificato da #{partenza} a #{destinazione} durerà all'incirca #{target_duration}
	h6 Ecco la playlist generata per il viaggio in base ai tuoi interessi, #{spotify_id}! Dura esattamente #{current_duration}!

	if mezzo_trasporto !== 'driving-car'
		h6 Dato che non sarai alla guida, puoi conoscere pendolari come te attraverso la chat!
		h6
			a(href="/chat") Clicca qui per connetterti alla chat room!