extends layout

block content
	h1= title
	p Istanza: #{instance}
	if !user
		a(href="/login" class="btn btn-spotify")
			i.bi.bi-spotify
			|  Login con Spotify
	else
		h2 Ciao, #{user.spotify_id}
		p access_token:
			pre #{user.access_token}
		p refresh_token:
			pre #{user.refresh_token}
		p La tua email è #{user.email}
		a(href="/account" class="btn btn-spotify") Ottieni
	hr
	h2 Inserisci il codice postale
	div(class="")
		form(action='../getCoordinates', method="POST")
			label(for="partenza") Partenza
			input(type='text', name='partenza', value="00195")
			br
			label(for="destinazione") Destinazione
			input(type="text", name='destinazione', value="00022")
			br
			input(type="submit")
		

	